<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="teachingRoom111SS.Properties.Settings.MySqlDB" connectionString="server=localhost;uid=root;database=teachingroom111ss2025;convert zero datetime=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>